{% if chagelist_url %}
<form action="{% url chagelist_url %}" method="post" class="model_action" style="float:right; margin: 0 0 0 5px">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% for it in items %}
        <input type="hidden" name="_selected_action" value="{{ it.pk }}">
    {% endfor %}
    {% for action in actions %}
        <button type="submit" name="action" value="{{ action.name }}" class="button" style="text-transform:capitalize">{{ action.label }}</button>
    {% endfor %}
</form>
{% endif %}
